In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('db/test.csv', sep='\t', header=0)

selectivity = 'Na'
isoform = 'Kv 1.3'
mutant = 'WT',
new_res = None
inact_v50 = -10
act_v50 = 2
inact_time = 10
act_time = 5

new_row = {'selectivity':selectivity, 'isoform':isoform, 'mutant':mutant, 'new_residue':new_res, 'act_v50': act_v50,
               'act_time':act_time, 'inact_v50':inact_v50, 'inact_time':inact_time}
test = pd.DataFrame(new_row)
#df.append(test)
test
#df =  pd.read_csv('db/test.csv', sep='\t', header=0)
new_df = df.append(test)
new_df.to_csv('db/test2.csv', sep='\t')
#df

,selectivity,isoform,mutant,new_residue,act_v50,act_time,inact_v50,inact_time
0,K+,Kv 1.2,WT,NaN,-50,10,10,100
0,Na,Kv 1.3,WT,None,2,5,-10,10